/*
body,
ul,
li,
p,
img {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: Arial;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}


#cardStyle{
    justify-content: space-between;
    align-items: center;
    background-color: #726c92;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 2.3rem;
    color: #98342f;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.7rem;
    color: #3f3768;
    text-align: center;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    color: #3f3768;
    text-align: center;
}

h4 {
    color: #3f3768;
    text-align: center;
}

footer {
    background-color: #726c92;
    /*text-align: center;*/
}

footer p,
i {
    text-align: center;
    align-items: center;
    color: white;
}

footer ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
}
gmp-map {
    height: 100%;
}

/*
.header {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: px;
    background-color: #726c92;
}
*/

header, .navbar{
    background-color: #726c92;

}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}
#navbar-links a{
    color: #fff
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem,
}

/*
.menu {
    display: flex;
}

.menu li {
    margin: 10px;

}

.menu li a {
    display: block;
    padding: 10px;
}

*/

.grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 20px;
}

/*
.container-um {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 20px;
}
*/

.box-um{
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.container-dois {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 20px;
}

.item {
    margin: 7px;
}

.mapa {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.mapa iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.facePage {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.facePage iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.iconeRedesSociais {
    image-resolution: 32px;
    padding: 5px;
    width: 40px;
    right: 40px;
}


.texto h1{
    margin: 100px;
}

.texto h2{
    margin: 20px;
    padding: 20px;
    font-size: 1.5rem;
    color: #3f3768;
    text-align: left;
}

.texto p{
    margin: 20px;
}
.texto ul, li{
    margin: 20px;
    padding: 3px;
}
.mt-1{
    margin-top: ($spacer * 1.5) !important;
}